.dm-screen-design-system-table {
  border-collapse: separate; 
  border-spacing: 0 var(--spacing-small);
  width: 100%;
}

.dm-screen-design-system-table-header {
  font-weight: var(--font-weight-bold);
}

.dm-screen-design-system-table-header:first-child {
  padding-left: var(--spacing-small);
}

.dm-screen-design-system-table-header:last-child {
  padding-right: var(--spacing-small);
}

.dm-screen-design-system-table-cell {
  background-color: var(--black-100);
  border-radius: 0;
  padding-bottom: var(--spacing-small);
  padding-top: var(--spacing-small);
  vertical-align: middle;
}

.dm-screen-design-system-table-cell-actions {
  text-align: right;
}

.dm-screen-design-system-table-row {
  background-color: var(--black-100);
  border-radius: var(--border-radius);
  box-shadow: var(--base-shadow);
  height: 46px;
}

/* Bottom/Top Side */
.dm-screen-design-system-table-row .dm-screen-design-system-table-cell {
  border-bottom: solid 1px var(--black-300);
  border-top: solid 1px var(--black-300);
}

/* Left Side */
.dm-screen-design-system-table-row .dm-screen-design-system-table-cell:first-child {
  border-bottom-left-radius: var(--border-radius);
  border-left: solid 1px var(--black-300);
  padding-left: var(--spacing-small);
  border-top-left-radius: var(--border-radius);
}

/* Right Side */
.dm-screen-design-system-table-row .dm-screen-design-system-table-cell:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-right: solid 1px var(--black-300);
  padding-right: var(--spacing-small);
  border-top-right-radius: var(--border-radius);
}
