.dm-screen-design-system-table {
  border-collapse: separate; 
  border-spacing: 0 1rem;
  width: 100%;
}

.dm-screen-design-system-table-header {
  font-weight: var(--font-weight-bold);
}

.dm-screen-design-system-table-header:first-child {
  padding-left: 12px;
}

.dm-screen-design-system-table-header:last-child {
  padding-right: 12px;
}

.dm-screen-design-system-table-cell {
  background-color: var(--row-item-background-color);
  border-radius: 0;
  padding-bottom: 12px;
  padding-top: 12px;
  vertical-align: middle;
}

.dm-screen-design-system-table-cell-actions {
  text-align: right;
}

.dm-screen-design-system-table-row {
  background: none;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 66px;
}

/* Bottom Side */
.dm-screen-design-system-table-row .dm-screen-design-system-table-cell {
  border-bottom: solid 2px var(--row-item-border-color);
}

/* Left Side */
.dm-screen-design-system-table-row .dm-screen-design-system-table-cell:first-child {
  border-bottom-left-radius: var(--border-radius);
  border-left: solid 2px var(--row-item-border-color);
  padding-left: 12px;
  border-top-left-radius: var(--border-radius);
}

/* Right Side */
.dm-screen-design-system-table-row .dm-screen-design-system-table-cell:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-right: solid 2px var(--row-item-border-color);
  padding-right: 12px;
  border-top-right-radius: var(--border-radius);
}

/* Top Side */
.dm-screen-design-system-table-row .dm-screen-design-system-table-cell {
  border-top: solid 2px var(--row-item-border-color);
}
