.status-avatar {
  align-items: center;
  background-color: var(--black-100);
  border: solid 2px var(--white);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 40px;
  justify-content: center;
  width: 40px;
}