.status-avatar {
  align-items: center;
  background-color: var(--black-100);
  border: solid 2px var(--white);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 24px;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  width: 24px;
}