.dm-screen-design-system-circle-badge-form {
  align-items: center;
  background-color: var(--back-50);
  border-radius: 50%;
  box-shadow: var(--base-shadow);
  cursor: pointer;
  display: flex;
  height: 30px;
  width: 30px;
}

.dm-screen-design-system-circle-badge-form input {
  background: none;
  border: none;
  color: var(--white);
  font-family: var(--base-font-family);
  font-size: var(--sub-font-size);
  font-weight: 400;
  outline: none;
  text-align: center;
  width: 100%;
}

.dm-screen-design-system-circle-badge-form-stroke-blue {
  border: solid 2px var(--blue-200);
}

.dm-screen-design-system-circle-badge-form-stroke-green {
  border: solid 2px var(--green-100);
}

.dm-screen-design-system-circle-badge-form-stroke-orange {
  border: solid 2px var(--orange-100);
}