.dm-screen-design-system-splash {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-size: cover;
    background-position: center;
}

.dm-screen-design-system-splash-title {
    box-sizing: border-box;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 10px;
}
