.dm-screen-design-system-input {
  background-color: var(--black-100);
  box-sizing: border-box;
  box-shadow: inset 0 0 10px 0 var(--black);
  border: solid 1px var(--black-200);
  border-radius: var(--border-radius);
  color: var(--off-white);
  height: 38px;
  padding: var(--spacing-small);
  margin-bottom: 1.5rem;
}

.dm-screen-design-system-input-error {
  border: solid 1px var(--red-200);
  margin: 0;
}

.dm-screen-design-system-input-error-message {
  color: var(--red-200);
  margin: 0;
}

.dm-screen-design-system-input-full {
  width: 100%;
}

.dm-screen-design-system-label {
  display: inline-block;
  margin-bottom: var(--spacing-small);
}

.dm-screen-design-system-label-error {
  color: var(--red-200);
}

.dm-screen-design-system-label-required::before {
  content: "*";
  margin-right: 0.5rem;
}