.dm-screen-design-system-input {
  background-color: var(--black-100);
  box-sizing: border-box;
  box-shadow: inset 0 0 10px 0 var(--black);
  border: solid 1px var(--black-200);
  border-radius: var(--border-radius);
  color: var(--off-white);
  height: 38px;
  padding: var(--spacing-small);
}

.dm-screen-design-system-input-full {
  width: 100%;
}