.dm-screen-design-system-input {
  box-sizing: border-box;
  border: solid 2px var(--light-grey);
  border-radius: var(--border-radius);
  height: 38px;
  padding: var(--spacing-small);
}

.dm-screen-design-system-input-full {
  width: 100%;
}