.dm-screen-design-system-pill {
    text-align: center;
    align-items: center;
    display: flex;
    font-family: var(--base-font-family);
    font-size: var(--sub-font-size);
    font-weight: var(--font-weight-regular);
    background: var(--white);
    border-radius: var(--border-radius);
}

.dm-screen-design-system-pill:hover {
    background: var(--light-grey);
}

.dm-screen-design-system-pill-closeButton {
    display: flex;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
}

.dm-screen-design-system-pill-closeButton:hover {
    background: var(--off-white);
    border-radius: 50%;
}