:root {
  /* BORDER RADIUS  */
  --border-radius: 8px;

  /* COLORS  */
  --black: #000000;
  --back-50: #111111;
  --black-100: #1a1a1a;
  --black-200: #333333;
  --black-300: #444444;
  --blue-50: #36498b;
  --blue-100: #5d6fb1;
  --blue-200: #8698db;
  --green-50: #36834c;
  --green-100: #71ba86;
  --green-200: #a0e2b3;
  --grey-100: #666666;
  --light-grey: #bababa;
  --off-white: #fafafa;
  --orange-50: #97761a;
  --orange-100: #caa53e;
  --orange-200: #e7c66b;
  --red-50: #591414;
  --red-100: #ad1c1c;
  --red-200: #c04848;
  --white: #ffffff;

  /* FONT FAMILIES */
  --base-font-family: "Roboto", sans-serif;

  /* FONT SIZES */
  --base-font-size: 1rem;
  --button-font-size: 0.875rem;
  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.75rem;
  --h5-font-size: 1.5rem;
  --h6-font-size: 1.25rem;
  --sub-font-size: 0.75rem;

  /* FONT WEIGHTS */
  --font-weight-regular: 400;
  --font-weight-bold: 700;  
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* SHADOWS */
  --base-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);

  /* SPACING */
  --spacing-small: 10px;
  --spacing-standard: 20px;

  /* Z-INDEX */
  --z-index-navbar: 995;
  --z-index-dropdown: 1000;
  --z-index-sticky: 1020;
  --z-index-fixed: 1030;
  --z-index-side-drawer-backdrop: 1040;
  --z-index-side-drawer: 1045;
  --z-index-modal-backdrop: 1050;
  --z-index-modal: 1055;
  --z-index-popover: 1070;
  --z-index-tooltip: 1080;
  --z-index-snackbar: 1085;
  --z-index-toast: 1090;

  /* CUSTOM */
  --background-color: var(--off-white);
  --row-item-background-color: var(--white);
  --row-item-border-color: var(--light-grey);
  --text-color: var(--black);
}
