.initiative-order {
  background-color: var(--black);
  box-shadow: var(--base-shadow);
  color: var(--white);
  margin-bottom: 80px;
}

.initiative-order button:not(:first-of-type) {
  margin-left: var(--spacing-small);
}

.initiative-order-card-list {
  display: flex;
  height: 170px;
  width: 100%;
}

.initiative-order-card-button-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-standard);
}