.dm-screen-design-system-multiselect {
  background-color: var(--black-50);
  display: table;
  list-style: none;
  margin: 0;
  table-layout: fixed;
  width: 100%;
}

.dm-screen-design-system-multiselect-wrapper {
  border: solid 2px var(--black-300);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--base-shadow);
  overflow-y: scroll;
}

.dm-screen-design-system-multiselect-row {
  background-color: var(--black-50);
  cursor: pointer;
  display: table-row;
  line-height: 1;
}

.dm-screen-design-system-multiselect-row.dm-screen-design-system-multiselect-row-active {
  background-color: var(--black-100);
}

.dm-screen-design-system-multiselect-row.dm-screen-design-system-multiselect-row-selected {
  color: var(--green-50);
}

.dm-screen-design-system-multiselect-cell {
  display: table-cell;
  padding: var(--spacing-small);
  user-select: none;
}

.dm-screen-design-system-multiselect-cell-checkbox {
  width: 20px;
}

.dm-screen-design-system-multiselect-cell-checkbox-hidden {
  opacity: 0;
}

.dm-screen-design-system-multiselect-row:not(:last-of-type) .dm-screen-design-system-multiselect-cell {
  border-bottom: solid 2px var(--black-300);
}

.dm-screen-design-system-multiselect-row:not(:first-of-type):hover .dm-screen-design-system-multiselect-cell {
  background-color: var(--black-100);
}
