.toolbar-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.toolbar-footer button {
  margin-left: var(--spacing-small);
}

.toolbar-footer-rolled-value {
  margin-left: var(--spacing-standard);
}