.toolbar-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.toolbar-footer-controls .toolbar-footer-control {
  margin-left: var(--spacing-standard);
}

.toolbar-footer input {
  margin-bottom: 0;
}

.toolbar-footer-rolled-value {
  margin-left: var(--spacing-standard);
}