.initiative-card {
  background-image: url('/d20.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 4px var(--red-50);
  height: 150px;
  position: relative;
  width: 100px;
}

.initiative-card-ac {
  bottom: 38px;
  left: 8px;
  position: absolute;
}

.initiative-card-character-name {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: var(--base-font-family);
  font-size: var(--sub-font-size);
  line-height: 1;
  margin: 0;
  padding: 8px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.initiative-card-hp {
  bottom: 38px;
  position: absolute;
  right: 8px;
}

.initiative-card-initiative-roll {
  position: absolute;
  right: 8px;
  top: 8px;
}
