.initiative-card {
  background-image: url('/d20.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 4px var(--red-50);
  height: 150px;
  position: relative;
  transition: 0.3s;
  width: 100px;
}

.initiative-card-active {
  border: solid 4px var(--white);
  height: 170px;
  width: 120px;
}

.initiative-card-resource-bubbles {
  bottom: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  position: absolute;
  width: 100%;
}

.initiative-card-statuses {
  position: relative;
  top: 4px;
}

.initiative-card-gm-only {
  border: solid 4px var(--blue-50);
  opacity: 0.4;
}

.initiative-card-hidden {
  opacity: 0.4;
}

.initiative-card-removed {
  border: 0;
  opacity: 0;
  width: 0;
  visibility: hidden;
}

.initiative-card-character-name {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: var(--base-font-family);
  font-size: var(--sub-font-size);
  line-height: 1;
  margin: 0;
  padding: 8px;
  position: absolute;
  text-align: center;
  width: 100%;
}
